<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


	<div id="header">
		<h1> Sevice IP address {{sensor.sen1}} </h1>
	</div>

	<div id="content">

		<div id="leftcol">
			<img  src="http://pytevoi.ru:8080/?action=stream" width="640px" height="480px">
		</div>

		<div id="rightcol">
			<div id="control_buttons">
				<div>
					<button onmousedown="goForward()" 	onmouseup="stop()" id="Forward" style="margin-left: 85px;"	class="button orange rectangular">&uarr;</button>
				</div>

				<div>
					<button onmousedown="goLeft()" 		onmouseup="stop()" id="Left" 		class="button orange rectangular">&larr;</button>
					<button onmousedown="goBackward()" 	onmouseup="stop()" id="Backward" 	class="button orange rectangular">&darr;</button>
					<button onmousedown="goRight()" 	onmouseup="stop()" id="Right" 		class="button orange rectangular" style="width">&rarr;</button>
				</div>
			</div>
		</div>

	</div>


    <!--<button onmousedown="get_time()" onmouseup="get_time2()" id="button">GO</button><br>-->
	<!--<span id=destElem>После нажатия на GO тут будет время</span>-->
    <!--<table align ="center" width="100%" border="1">-->
	    <!--<tr>-->
		    <!--<td colspan="2">-->
	    	<!--Пример таблицы-->
    		<!--</td>-->
	    <!--</tr>-->
	    <!--<tr>-->
		    <!--<td>-->
		    <!--Данные с сенсора-->
		    <!--</td>-->
		    <!--<td id ='table1'>-->
		    <!--Столбец 2-->
		    <!--</td>-->
	    <!--</tr>-->
    <!--</table>-->

<!--<p>-->
    <!--<span id=destElem2>Данные от сокета должны быть тут</span><a>-->
    <!--<div id="content"></div><a>-->
<!--</p>-->

<script>
    var ws = new WebSocket('ws://' + document.domain + ':' + 8765+'/sensor');


    ws.onmessage = function (event) {
                content = document.getElementById('content');
                var datajson = JSON.parse(event.data);
            <!--console.log(datajson);-->
                var messages = '<div>' + datajson['data2']+ '</div>';
                content.innerHTML = messages;

                content2 = document.getElementById('table1');
                var message2 = datajson['data2'];
                content2.innerHTML=message2;

            };


</script>



{% endblock %}
