<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

    <h1> Sevice IP address {{sensor.sen1}} </h1>

    <span id=destElem>После нажатия на GO тут будет время</span>
  <!--  <h1>Hi, {{ user.username }}!</h1>

    {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}-->

    <button onmousedown="goForward()" onmouseup="stop()" id="Forward">Forward</button>
    <button onmousedown="goBackward()" onmouseup="stop()" id="Backward">Backward</button>
    <button onmousedown="goLeft()" onmouseup="stop()" id="Left">Left</button>
    <button onmousedown="goRight()" onmouseup="stop()" id="Right">Right</button>


   <script>
    var socket = new WebSocket('ws://' + document.domain + ':' + 8765+'/test');
    socket.on('connect', function() {
       socket.sen('connect', {data: 'I\'m connected!'});
    });

    </script>

{% endblock %}
